.critical {
    width: 32px;
    height: 40px;
    background: #c30000 !important;
    margin: 2%;
    color: white;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.high {
    width: 32px;
    height: 30px;
    background: #e04b49 !important;
    margin: 2%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.medium {
    width: 32px;
    height: 20px;
    background: #f5a623 !important;
    margin: 2%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.low {
    width: 32px;
    height: 15px;
    background: #adb5bd !important;
    margin: 2%;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.text-botton {
    bottom: 0px !important;
    position: relative;
}


.text-at-bottom-low {
    color: #adb5bd;
    position: absolute;
    /* left: 46.2%; */
    transform: translateX(8%);
    margin-top: -8px;
}
.text-at-bottom-medium {
    color: #f5a623;
    position: absolute;
    /* left: 46.2%; */
    transform: translateX(8%);
    margin-top: -8px;
}

.text-at-bottom-high {
    color: #e04b49;
    position: absolute;
    transform: translateX(8%);
    margin-top: -8px;
}

.text-at-bottom-critical {
    color: #c30000;
    position: absolute;
    transform: translateX(8%);
    margin-top: -8px;
}

.container {
    /* Styles for container div */
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    /* Styles for the loading div */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease; /* Transition for fading effect */
}

    .loading.hidden {
        /* Hidden state for the loading div */
        opacity: 0;
    }

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite
}